*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba;
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}
.navbar ul li{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px;
}
.navbar ul li a{
    text-decoration: none;
    color: orchid;
    padding: 8px 5px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: orchid;
    color: whitesmoke;
    box-shadow:0 0 10px orchid;
}
#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0,0,0,0.5);
    height:840px ;
    justify-content: center;
    align-items: center;
    color: orchid ;
}
#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url(848336.jpg) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -5;
    opacity: 1;
}
.main{
    display: flex;
    flex-direction: column;
    border:5px solid orchid ;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 10%;
    transition: .3s ease-in-out;
}
.main:hover{
    transform: scale(1.5);
}
.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}
.btn{
    padding: 10px 35px;
    background-color: transparent;
    z-index: -2;
    outline: none;
    transition: .6s ease;
}
.btn:hover{
    cursor: pointer;
    background-color: white;
    border: 1px solid white;
    color: orchid;
    box-shadow: 0 0 5px white,0 0 10px white,0 0 15px white;
    font-weight: bold;
    border-radius: 5px;
}
#about{
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic img{
     width: 500px;
     height: 400px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
#portfolio{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to top,black 80%,white 20%);
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}
.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;
}
#services{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: black;
}
.row{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
    box-sizing: border-box;
}
.box{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
    border: 1px solid black;
    margin: 10px;
    align-items: center;
    text-align: justify;
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to top,orchid 50%,white 50%);
    background-size: 100% 500%;
    transition: all .8s;
    box-shadow: 0 0 5px orchid, 0 0 10px orchid, 0 0 15px orchid;
}
.box:hover{
    background-position: left bottom; 
}
.box img{
    width:100px ;
    height: 100px;
    padding: 10px;
}
